* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f7f7f7;
}


.app {
  display: flex;
  height: 100vh;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}


.sidebar {
  width: 240px;
  background: #fafafa;
  border-right: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  top: -8px;
}

.logo img{
  height: 50px;
  width: 50px;
}
.logo p{
  padding: 15px;
}
.menu a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  font-size: 14px;
}

.menu a:hover {
  background: #f0f0f0;
}

.menu .active {
  background: #ffe8c7;
  color: #000;
}

.new-page {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.navbar {
  height: 70px;
  border-bottom: 1px solid #eee;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar input {
  width: 280px;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #666;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #ddd;
  border-radius: 50%;
}


.content {
  padding: 30px;
}
