:root {
    --primary-blue: #2F6BFF;
    --heading-blue: #2B3A67;
    --bg-blue: #EAF2FF;
    --bg-purple: #F3E9FF;
    --white: #FFFFFF;
    --text-gray: #6B7280;
    --border-light: #E5E7EB;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--bg-blue);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 900px;
    font-size: 20px;
    margin-bottom: 30px;

}

.flex {
    display: flex;
    justify-content: space between;
    gap: 30px;
    margin-right: 50px;

}

.flex a {
    text-decoration: none;
    color: var(--text-gray);
}

.logo {
    font-size: 30px;
    margin-left: 30px;
    font-weight: 900;
    color: var(--primary-blue);
}

.button {
    background-color: #2F6BFF;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: -4px;
    font-size: 15px;
    border: 0px;
    background: linear-gradient(
            var(--primary-blue),var(--heading-blue));
    color: var(--white);
}

.button:hover{
  box-shadow: 3px 3px 3px var(--heading-blue);
}
.hero__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 30px;
    margin-bottom: 20px;
}

.hero__heading h1 {
    font-size: 40px;
}

.hero__heading :is(p) {
    font-size: 23px;

}

.hero {
    display: flex;
    flex-direction: column;
}

.hero :is(.hero__col) {
    display: flex;
    flex-direction: row;
    gap: 60px;

}

.hero :is(img) {
    width: 600px;
    box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.hero__col div {
    position: relative;
    top: 30px;

}

.hero__col p {
    padding: 10px;
    font-size: 20px;
}

.hero__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    text-transform: capitalize;
}

.hero__col div p i {
    margin-right: 10px;
}

#try {
    height: 40px;
    border-radius: 5px;
    width: 200px;
    background-color: var(--primary-blue);
    font-size: 20px;
    border: 0px;
    color: var(--white);
}

#try:hover {
    box-shadow: 3px 3px 3px var(--primary-blue);
}